@font-face {
	font-family: 'Icon';
	src: url('../stylesheets/themes/default/assets/fonts/icons.eot') format('eot');
	src: url('../stylesheets/themes/default/assets/fonts/icons.otf') format('otf');
	src: url('../stylesheets/themes/default/assets/fonts/icons.svg') format('svg');
	src: url('../stylesheets/themes/default/assets/fonts/icons.ttf') format('ttf');
	src: url('../stylesheets/themes/default/assets/fonts/icons.woff') format('woff');
	src: url('../stylesheets/themes/default/assets/fonts/icons.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.billing-page {
	@include site-container;
	padding: 28px 0;

	.billing-page-title {
		color: #262626;
		font: 700 27px / 30px $family;
		text-transform: uppercase;
	}
	.formWrapper {
		@include border-box;
	}
	#billing-form {
		input {
			display: inline-block;
		}

		.top-field {
			position: relative;

			span {
				position: absolute;
				top: 35px;
				right: 2px;
				z-index: 1;
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 10px solid #686868;

			}
		}
		.month,
		.year {
			display: inline-block;
			width: 48%;
		}
		.month: {
			float: left;
		}
		.year {
			float: right;
		}
		.cvc-code {
			clear: both;
		}

		#client-name,
		#client-surname,
		#client-email, 
		#client-address,
		#client-city,
		#client-district,
		#client-zip-code,
		#client-cart-number,
		#month,
		#year,
		#client-cvc-code {
			@include border-box;
			width: 100%;
			height: 34px;
			margin: 25px auto 0;
			padding-left: 54px;
			outline: none;
			border: none;
			border-bottom: 2px solid #686868;
			background-repeat: no-repeat;   
			background-position: 2px;

			color: #262626;
			font: 400 18px / 22px $family;

			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #262626;
				font: 400 18px / 22px $family;
			}
			::-moz-placeholder { /* Firefox 19+ */
				color: #262626;
				font: 400 18px / 22px $family;
			}
			:-ms-input-placeholder { /* IE 10+ */
				color: #262626;
				font: 400 18px / 22px $family;
			}
			:-moz-placeholder { /* Firefox 18- */
				color: #262626;
				font: 400 18px / 22px $family;
			}
		}
		#client-district,
		#month,
		#year {
			position: relative;
			color: rgba(38,38,38, 0.4);
			font: 600 18px / 22px $family;
		}
		#client-district{
			padding: 0 0 0 54px;
		}
		#month,
		#year {
			padding: 0;
		}
		#client-name {
			background-image: url("../images/icon-user-page.png");   
		}
		#client-surname {
			background-image: url("../images/icon-user-page.png");   
		}
		#client-email {
			background-image: url("../images/icon-mail-user-page.png");
		}
		#client-address {
			background-image: url("../images/icon-billing-map.png");
		}
		#client-city {
			background-image: url("../images/icon-billing-city.png");
		}
		#client-district {
			background-image: url("../images/icon-billing-flag.png");
		}
		#client-zip-code {
			background-image: url("../images/icon-billing-zip.png");
		}
		#client-cart-number {
			background-image: url("../images/icon-billing-number.png");
		}
		#client-cvc-code {
			background-image: url("../images/icon-billing-CVC.png");
		}

		#billing-sbm-btn {
			display: block;
			width: 154px;
			height: 40px;
			margin: 50px auto 20px;
			text-align: center;
			color: white;
			font: 600 16px / 22px $family;

			background-color: #74023b;
			border-radius: 7px;
			box-shadow: 2.4px 4.4px 9px rgba(0, 0, 0, 0.56);

			outline: none;
			border: none;
			cursor: pointer;
		}
	}
}
@media (min-width: 1024px) {
	.billing-page {
		@include page-bg;

		.rgb-background {
			padding: 33px 3px;
		}

		.white-bg-container {
			@include white-bg-container;
			padding: 32px 15px 60px;
		}

		.rgb-background {
			padding: 41px 3px 42px;
		}

		.white-bg-container {
			max-width: 982px;
			padding: 24px 0 41px;
		}

		.billing-page-title {
			margin: 0 0 17px;
			font-size: 50px;
			line-height: 52px;
		}
		#billing-form {
			text-align: center;
			
			.first-name,
			.email,
			.city,
			.zip-code {
				float: left;
				width: 48%;
				margin-top: 15px;
			}

			.second-name,
			.address,
			.district,
			.cart-number,
			.cvc-code {
				float: right;
				width: 48%;
				margin-top: 15px;
			}

			.first-name,
			.second-name {
				margin-top: 0;
			}

			.cvc-code {
				clear: inherit;
				margin-bottom: 70px;
			}

			.month,
			.year {
				width: 23.5%;
				float: left;
				margin-top: 15px;
			}
			.month {
				margin-right: 1%;
			}

			#billing-sbm-btn {
				margin: 30px auto 20px;
				font-size: 17px;
				clear: both;
			}
		}
	}
}