@mixin site-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	background-size: contain;
	background-position: center;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin page-bg {
	padding: 31px 0 39px;
	background: url('../images/backgr.png') no-repeat;
	background-size: cover;
	background-position: center center;

	.rgb-background {
		max-width: 1060px;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 33px 0 36px;
		background: rgba(255, 255, 255, 0.6);
	}
}
@mixin mapWrapper {
	position: relative;
	padding-bottom: 53.25%;
	height: 0;
	overflow: hidden;
	box-sizing: border-box;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@mixin white-bg-container {
	position: relative;
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 0px 20px 0;
	background: #fff;
	overflow: hidden;
	box-sizing: border-box;
}
@mixin direction {
	@include site-container;
	padding: 6px 0;
	background-color: #74023b;
	box-shadow: 2.4px 4.4px 7px rgba(0, 1, 1, 0.26);	
	z-index: 9;
	.arrow-back {
		float: left;
		margin: 5px 0 0 0;
	}
	.direction-title {
		margin: 0 auto;
		text-align: center;
		a {
			color: white;
			font: 400 15px / 25px $family;
			text-transform: uppercase;
		}
	}
}
$family: 'Open Sans', sans-serif;

@media (min-width: 0px) {
	.direction {
		@include direction;
	}
	.contact-page {
		@include site-container;
		padding: 0;

		.rgb-background {
			padding: 33px 3px 0;
		}

		.white-bg-container {
			@include white-bg-container;
			padding-left: 0;
			.contact-block {
				.contact-main-title {
					margin: 0 0 30px;
					color: #262626;
					font: 700 30px / 30px $family;
					text-transform: uppercase;
				}
				.contact-info {
					margin: 0 auto;
					text-align: center;
					@include border-box;
					li {
						display: block;
						margin: 0 auto 35px;
						.img-container {
							margin: 0 auto;
							text-align: center;
							img {
								max-width: 100%;
								height: auto;
							}
						}
						span, a {
							display: block;
							margin: 15px auto 0;
							color: #080202;
							font: 400 18px / 22px $family;
						}
					}
				}
				.mapWrapper {
					@include mapWrapper;
					margin: 0 0 40px;

					.map-overflow {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 99;
						width: 100%;
						height: 100%;
						display: block;
						cursor: pointer;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.contact-page {

		.white-bg-container {
			.contact-block {
				.contact-info {
					margin: 55px auto 0;
					li {
						display: inline-block;
						width: 33,3%;
						margin: 0 12%;
						vertical-align: top;
						&:first-child,
						&:last-child {
							margin: 0;
						}
						.img-container {
							min-height: 50px;
						}
					}
				}
				.mapWrapper {
					margin: 40px  auto;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.direction {
		display: none;
	}
	.contact-page {
		@include site-container;
		@include page-bg;
		padding: 38px 0 39px;

		.rgb-background {
			padding: 33px 3px 36px;
		}

		.white-bg-container {
			@include white-bg-container;
			.contact-block {
				.contact-main-title {
					margin: 25px 0 27px;
					letter-spacing: 1px;
					color: #262626;
					font: 700 48px / 50px $family;
				}
				.contact-info {
					li {
						margin: 0 14%;
					}
				}
			}
		}
	}
}