.fill-date-page {
	@include site-container;
	padding: 28px 0;
	@include page-bg;

	.rgb-background {
		padding: 33px 3px;
	}

	.white-bg-container {
		@include white-bg-container;
		padding: 32px 15px 60px;
	}

	.fill-date-page-title {
		color: #262626;
		font: 700 27px / 30px $family;
		text-transform: uppercase;
	}
	.formWrapper {
		@include border-box;
	}
	#fill-date-form {
		input {
			display: inline-block;
		}
		#client-name,
		#client-phone,
		#client-email {
			@include border-box;
			width: 100%;
			height: 34px;
			margin: 25px auto 0;
			padding-left: 54px;
			outline: none;
			border: none;
			border-bottom: 2px solid #686868;
			background-repeat: no-repeat;   
			background-position: 2px;

			color: #262626;
			font: 400 18px / 22px $family;

			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #262626;
				font: 400 18px / 22px $family;
			}
			::-moz-placeholder { /* Firefox 19+ */
				color: #262626;
				font: 400 18px / 22px $family;
			}
			:-ms-input-placeholder { /* IE 10+ */
				color: #262626;
				font: 400 18px / 22px $family;
			}
			:-moz-placeholder { /* Firefox 18- */
				color: #262626;
				font: 400 18px / 22px $family;
			}
		}
		#client-name {
			background-image: url("../images/icon-user-page.png");   

		}
		#client-phone {
			background-image: url("../images/icon-phone-user-page.png");
		}
		#client-email {
			background-image: url("../images/icon-mail-user-page.png");
		}
		.for-payment-title {
			margin: 27px 0 0;
			color: #74023b;
			font: 700 22px / 26px $family;
		}
		.payment-icon {
			@include border-box;
			overflow: hidden;
			margin: 20px 0 0;

			#paypal,
			#visa {
				width: 22px;
				height: 22px;
				background-color: #bcb8b6;
				border-radius: 7px;
				margin-top: 10px;
			}

			/* .squaredFour */
			.squaredFour {
				width: 22px;
				height: 22px;
				position: relative;
				margin: 0 15px 3px 10px;
				display: inline-block;
				label {
					width: 22px;
					height: 22px;
					cursor: pointer;
					position: absolute;
					top: 0;
					left: 0;
					background: #fcfff4;
					background: #bcb8b6;
					border-radius: 7px;
					box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
					&:after {
						content: '';
						width: 11px;
						height: 5px;
						position: absolute;
						top: 8px;
						left: 5px;
						border: 2px solid #262626;
						border-top: none;
						border-right: none;
						background: transparent;
						opacity: 0;
						transform: rotate(-45deg);
					}
					// &:hover::after {
					// 	opacity: 0.5;
					// }
				}
				input[type=checkbox] {
					visibility: hidden;
					&:checked + label:after {
						opacity: 1;
					}
				}    
			}
			/* end .squaredFour */

		}
		.img-wrapper {
			overflow: hidden;
			display: inline-block;
			img {
				margin: 10px 0 0;
			}
		}

		#fill-date-sbm-btn {
			display: block;
			width: 154px;
			height: 40px;
			margin: 50px auto 20px;
			text-align: center;
			color: white;
			font: 600 16px / 22px $family;

			background-color: #74023b;
			border-radius: 7px;
			box-shadow: 2.4px 4.4px 9px rgba(0, 0, 0, 0.56);

			outline: none;
			border: none;
			cursor: pointer;
		}
	}
}
@media (min-width: 1024px) {
	.fill-date-page {

		.rgb-background {
			padding: 41px 3px 42px;
		}

		.white-bg-container {
			max-width: 982px;
			padding: 24px 0 41px;
		}

		.fill-date-page-title {
			margin: 0 0 17px;
			font-size: 50px;
			line-height: 52px;
		}
		#fill-date-form {
			text-align: center;
			.top-field {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				#client-name,
				#client-phone,
				#client-email {
					width: 31%;
					height: 41px;
					margin: 23px 1% 0;
					line-height: 33px;
					padding-left: 34px;
				}
				#client-name {
					margin-left: 0;
				}
				#client-email {
					margin-right: 0;
				}
			}
			.for-payment-title {
				margin: 48px auto 0;
				text-align: center;
				font-size: 25px;
				line-height: 30px;
			}
			.payment-icon {
				margin: 18px auto 0;
				width: 22%;
				display: inline-block;
			}
			#fill-date-sbm-btn {
				margin: 30px auto 20px;
				font-size: 17px;
			}
		}
	}
}