@mixin site-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	background-size: contain;
	background-position: center;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin page-bg {
	padding: 31px 0 39px;
	background: url('../images/backgr.png') no-repeat;
	background-size: cover;
	background-position: center center;

	.rgb-background {
		max-width: 1060px;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 33px 0 65px;
		background: rgba(255, 255, 255, 0.6);
	}
}
@mixin mapWrapper {
	position: relative;
	padding-bottom: 53.25%;
	height: 0;
	overflow: hidden;
	box-sizing: border-box;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

$family: 'Open Sans', sans-serif;

@mixin white-bg-container {
	position: relative;
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 0px 20px 0;
	background: #fff;
	overflow: hidden;
	box-sizing: border-box;
}
/*------------------------------------*/
@media (min-width: 320px) {
	.scene3-right-side-block,
	.balcony-right-side {
		display: none;
	}
	.direction {
		@include direction;
	}
	.scene3-page {
		@include site-container;


		.white-bg-container {
			@include white-bg-container;
			padding: 0;

			.header-content {
				clear: both;
				overflow: hidden;
				padding-bottom: 19px;
				border-bottom: 2px solid #C2C2C2;

				.left-content {
					float: left;
					.title {
						color: #262626;
						width: 131px;
						margin: 21px 0 0 0;
						font: 700 28px/32px $family;
						text-transform: uppercase;
						letter-spacing: -0.4px;
					}
					.location {
						margin: 15px 0 0 0;
						color: #262626;
						font:  400 22px / 32px $family;
					}
				}
				.right-content {
					float: left;
					.date {
						margin: 31px 22px 0 0;
						color: #73023A;
						text-transform: uppercase;
						font:  700 22px / 24px $family;
					}
					.time {
						float: left;
						margin: 10px 23px 0 0;
						color: #73023A;
						font:  700 22px / 24px $family;
					}
				}
			}

		}
	}
	/*----------------------------------------------*/
	.scene {
		width: 100%;
		margin-top: 0;
		position: relative;
		top: 31px;

		.container-title {
			margin: 0 auto 20px;
			text-align: center;
			color: #262626;
			font: 400 15px / 21px $family;
			text-transform: uppercase;
		}

		/*SCENE3 LEFT SIDE BLOCK*/
		.scene3-left-side-block {
			float: left;
			margin: 20px 0;
			position: relative;
			.scene3-left-side-A,
			.scene3-left-side-B,
			.scene3-left-side-C,
			.scene3-left-side-D,
			.scene3-left-side-E,
			.scene3-left-side-F,
			.scene3-left-side-G,
			.scene3-left-side-H,
			.scene3-left-side-J,
			.scene3-left-side-K,
			.scene3-left-side-L,
			.scene3-left-side-M,
			.scene3-left-side-N,
			.scene3-left-side-P,
			.scene3-left-side-Q,
			.scene3-left-side-R,
			.scene3-left-side-S,
			.scene3-left-side-T,
			.scene3-left-side-U,
			.scene3-left-side-V {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		/*SCENE3 LEFT CENTER BLOCK*/
		.scene3-left-center-side-block {
			float: left;
			margin: 20px 0;
			position: relative;
			.scene3-left-center-side-A,
			.scene3-left-center-side-B,
			.scene3-left-center-side-C,
			.scene3-left-center-side-D,
			.scene3-left-center-side-E,
			.scene3-left-center-side-F,
			.scene3-left-center-side-G,
			.scene3-left-center-side-H,
			.scene3-left-center-side-J,
			.scene3-left-center-side-K,
			.scene3-left-center-side-L,
			.scene3-left-center-side-M,
			.scene3-left-center-side-N,
			.scene3-left-center-side-P,
			.scene3-left-center-side-Q,
			.scene3-left-center-side-R,
			.scene3-left-center-side-S,
			.scene3-left-center-side-T,
			.scene3-left-center-side-U,
			.scene3-left-center-side-V {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		/*SCENE3 CENTER BLOCK*/
		.scene3-center-block {
			float: left;
			margin: 20px 0;
			position: relative;
			.scene3-center-side-A,
			.scene3-center-side-B,
			.scene3-center-side-C,
			.scene3-center-side-D,
			.scene3-center-side-E,
			.scene3-center-side-F,
			.scene3-center-side-G,
			.scene3-center-side-H,
			.scene3-center-side-J,
			.scene3-center-side-K,
			.scene3-center-side-L,
			.scene3-center-side-M,
			.scene3-center-side-N,
			.scene3-center-side-P,
			.scene3-center-side-Q,
			.scene3-center-side-R,
			.scene3-center-side-S,
			.scene3-center-side-T,
			.scene3-center-side-U,
			.scene3-center-side-V {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		/*SCENE3 RIGHT CENTER BLOCK*/
		.scene3-right-center-block {
			float: left;
			margin: 20px 0;
			position: relative;
			.scene3-right-center-side-A,
			.scene3-right-center-side-B,
			.scene3-right-center-side-C,
			.scene3-right-center-side-D,
			.scene3-right-center-side-E,
			.scene3-right-center-side-F,
			.scene3-right-center-side-G,
			.scene3-right-center-side-H,
			.scene3-right-center-side-J,
			.scene3-right-center-side-K,
			.scene3-right-center-side-L,
			.scene3-right-center-side-M,
			.scene3-right-center-side-N,
			.scene3-right-center-side-P,
			.scene3-right-center-side-Q,
			.scene3-right-center-side-R,
			.scene3-right-center-side-S,
			.scene3-right-center-side-T,
			.scene3-right-center-side-U,
			.scene3-right-center-side-V {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		/*SCENE3 RIGHT SIDE BLOCK*/
		.scene3-right-side-block {
			float: left;
			margin: 20px 0;
			position: relative;
			.scene3-right-side-side-A,
			.scene3-right-side-side-B,
			.scene3-right-side-side-C,
			.scene3-right-side-side-D,
			.scene3-right-side-side-E,
			.scene3-right-side-side-F,
			.scene3-right-side-side-G,
			.scene3-right-side-side-H,
			.scene3-right-side-side-J,
			.scene3-right-side-side-K,
			.scene3-right-side-side-L,
			.scene3-right-side-side-M,
			.scene3-right-side-side-N,
			.scene3-right-side-side-P,
			.scene3-right-side-side-Q,
			.scene3-right-side-side-R,
			.scene3-right-side-side-S,
			.scene3-right-side-side-T,
			.scene3-right-side-side-U,
			.scene3-right-side-side-V {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		/*SCENE3 RIGHT SIDE BLOCK MOBILE*/
		.scene3-right-side-block-mobile {
			float: left;
			margin: 20px 0;
			position: relative;
			.scene3-right-side-side-A,
			.scene3-right-side-side-B,
			.scene3-right-side-side-C,
			.scene3-right-side-side-D,
			.scene3-right-side-side-E,
			.scene3-right-side-side-F,
			.scene3-right-side-side-G,
			.scene3-right-side-side-H,
			.scene3-right-side-side-J,
			.scene3-right-side-side-K,
			.scene3-right-side-side-L,
			.scene3-right-side-side-M,
			.scene3-right-side-side-N,
			.scene3-right-side-side-P,
			.scene3-right-side-side-Q,
			.scene3-right-side-side-R,
			.scene3-right-side-side-S,
			.scene3-right-side-side-T,
			.scene3-right-side-side-U,
			.scene3-right-side-side-V {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		/*BALCONY*/
		.balcony {
			clear: both;
			overflow: hidden;
		}
		.balcony-left-side,
		.balcony-center,
		.balcony-right-side {
			float: left;
			margin: 20px 0;
			position: relative;
		}
		.balcony-left-side {
			.balcony-left-side-AA,
			.balcony-left-side-BB,
			.balcony-left-side-CC,
			.balcony-left-side-DD,
			.balcony-left-side-EE,
			.balcony-left-side-FF,
			.balcony-left-side-GG,
			.balcony-left-side-HH,
			.balcony-left-side-JJ,
			.balcony-left-side-KK,
			.balcony-left-side-LL,
			.balcony-left-side-MM {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		.balcony-center {
			.balcony-center-AA,
			.balcony-center-BB,
			.balcony-center-CC,
			.balcony-center-DD,
			.balcony-center-EE,
			.balcony-center-FF,
			.balcony-center-GG,
			.balcony-center-HH,
			.balcony-center-JJ,
			.balcony-center-KK,
			.balcony-center-LL,
			.balcony-center-MM {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		.balcony-right-side {
			.balcony-right-side-AA,
			.balcony-right-side-BB,
			.balcony-right-side-CC,
			.balcony-right-side-DD,
			.balcony-right-side-EE,
			.balcony-right-side-FF,
			.balcony-right-side-GG,
			.balcony-right-side-HH,
			.balcony-right-side-JJ,
			.balcony-right-side-KK,
			.balcony-right-side-LL,
			.balcony-right-side-MM {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		.balcony-right-side-mobile {
			float: left;
			.balcony-right-side-AA,
			.balcony-right-side-BB,
			.balcony-right-side-CC,
			.balcony-right-side-DD,
			.balcony-right-side-EE,
			.balcony-right-side-FF,
			.balcony-right-side-GG,
			.balcony-right-side-HH,
			.balcony-right-side-JJ,
			.balcony-right-side-KK,
			.balcony-right-side-LL,
			.balcony-right-side-MM {
				@include border-box;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 14px;
					height: 14px;
					margin: 1px 1px 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 7px / 14px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #000;
						font: 400 7px / 14px $family;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	.scene-block {
		.block-title {
			width: 210px;
			margin: 0 auto;
			padding: 13px 4px;
			text-align: center;
			font: 400 36px / 21px $family;
			color: #fff;
			letter-spacing: -2px;
			padding-right: 20px;
			text-transform: uppercase;
			background: #9D9D9D;

			-webkit-border-bottom-right-radius: 15px;
			-webkit-border-bottom-left-radius: 15px;
			-moz-border-radius-bottomright: 15px;
			-moz-border-radius-bottomleft: 15px;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}
	}

	.scene-block {

		.hover-block {
			min-width: 224px;
			width: 224px;
			height: auto;
			overflow: hidden;
			position: absolute;
			left: -9999999999px;
			z-index: 9999999999;
			background-color: white;
			box-shadow: -0.4px 1.9px 18px rgba(0, 1, 1, 0.37);			

			.hover-block-list {
				@include border-box;
				overflow: hidden;
				padding: 17px 0 21px 16px;

				& > li {
					display: block;
					width: auto;
					height: auto;
					clear: both;
					overflow: hidden;
					margin: 11px auto;

					span {
						float: left;
						overflow: hidden;
						font: 400 16px / 20px $family;
						color: #262626;
					}
				}
				& > .color-square-1,
				& > .color-square-2,
				& > .color-square-3 {
					float: left;
					margin-right: 10px;
				}
				.color-square-1,
				.color-square-2,
				.color-square-3 {
					float: left;
					width: 25px;
					height: 25px;
					margin-right: 15px;
				}
				.color-square-1 {
					background: #BCB8B5;					
				}
				.color-square-2 {
					background: #5A009E;					
				}
				.color-square-3 {
					background: #ED6A00;					
				}
			}
		}
	}
	/*----------------------------------------------*/
	.according-block {
		padding-top: 8px;
		border-top: 2px solid #C2C2C2;
		.according-title {
			margin: 10px 0 0 0;
			letter-spacing: -1px;
			color: #75023B;
			font:  700 22px / 24px $family;
		}
		.according-list {
			@include border-box;
			width: 100%;
			overflow: hidden;
			margin: 10px 0 37px 0;

			li {
				display: block;
				width: 100%;
				overflow: hidden;

				&:nth-child(2) {
					.sign {
						margin: 9px 30px 10px 3px;
					}
				}
				&:nth-child(3) {
					.sign {
						margin: 16px 15px 10px 3px;
					}
				}
				.number {
					float: left;
					color: #E51002;
					font: 600 70px/53px $family;
					display: inline-block;
					margin: 14px 0 0 0;
				}
				.sign {
					float: left;
					margin: 9px 15px 10px 1px;
					overflow: hidden;
					letter-spacing: 1px;
					color: #656565;
					font:  400 20px / 25px $family;
				}
				img {
					float: left;
					margin: 31px 0;
				}
			}
		}
	}

}
/*--------480---------*/
@media (min-width: 480px) {
	.scene {
		width: 100%;
		margin-top: 31px;
		overflow: hidden;
		top: 0;

		.scene3 {
			.left-center-block,
			.right-center-block,
			.center-block {
				left: -15%;
			}
		}
	}
}
/*--------768---------*/
@media (min-width: 768px) {
	.according-block {
		.according-list {
			li {
				display: inline-block !important;
				width: auto !important;
				overflow: hidden;

				&:nth-child(2) {
					margin-left: 40px;
				}
			}	
		}
	}
	.scene3 {
		.right-side-block {
			float: right;
		}
		.left-center-block,
		.right-center-block,
		.center-block {
			-ms-transform: rotate(0);
			-webkit-transform: rotate(0);
			-moz-transform: rotate(0);
			-o-transform: rotate(0);
			transform: rotate(0);
			left: 15% !important;
		}
		.left-center-block {
			margin-top: 0;
		}
		.right-center-block {
			margin-top: 30px;
		}
		.center-block {
			margin: 60px 0;
		}
	}
}
/*------------------------------------*/
@media (min-width: 1024px) {
	.scene3-right-side-block-mobile,
	.balcony-right-side-mobile {
		display :none;
	}
	.scene3-right-side-block,
	.balcony-right-side {
		display: block;
	}
	.scene3-page {
		@include site-container;
		@include page-bg;
		padding: 38px 0 39px;

		.rgb-background {
			padding: 33px 15px 36px;
		}

		.white-bg-container {
			@include white-bg-container;

			.header-content {
				clear: both;
				overflow: hidden;
				padding-bottom: 19px;
				border-bottom: 2px solid #C2C2C2;

				.left-content {
					float: left;
					.title {
						color: #272727;
						margin: 21px 0 0 13px;
						font: 700 50px/60px $family;
						text-transform: uppercase;
						letter-spacing: -0.4px;
					}
					.location {
						margin: 8px 0 0 15px;
						color: #252525;
						font:  700 20px / 41px $family;
					}
				}
				.right-content {
					float: right;
					.date {
						margin: 38px 22px 0 0;
						color: #73023A;
						text-transform: uppercase;
						font:  700 30px / 41px $family;
					}
					.time {
						float: right;
						margin: 5px 23px 0 0;
						color: #73023A;
						font:  700 30px / 41px $family;
					}
				}
			}

			.scene-block,
			.scene3-block {
				clear: both;
				margin: 0 auto 46px;
		    // padding-top: 26px;
		    .block-title {
		    	width: 210px;
		    	margin: 0 auto;
		    	padding: 13px 4px;
		    	text-align: center;
		    	font: 400 36px / 21px $family;
		    	color: #fff;
		    	letter-spacing: -2px;
		    	padding-right: 20px;
		    	text-transform: uppercase;
		    	background: #9D9D9D;

		    	-webkit-border-bottom-right-radius: 15px;
		    	-webkit-border-bottom-left-radius: 15px;
		    	-moz-border-radius-bottomright: 15px;
		    	-moz-border-radius-bottomleft: 15px;
		    	border-bottom-right-radius: 15px;
		    	border-bottom-left-radius: 15px;
		    }

		    .scene {
		    	width: 100%;
		    	margin-top: 0;
		    	position: relative;
		    	top: 0;
		    	height: auto;
		    	
		    	.balcony {
		    		padding: 0 112px;
		    	}
		    }

		  } 
		  .according-block {
		  	padding-top: 8px;
		  	border-top: 2px solid #C2C2C2;
		  	.according-title {
		  		margin: 10px 0 0 15px;
		  		letter-spacing: -1px;
		  		color: #75023B;
		  		font:  700 24px / 41px $family;
		  	}
		  	.according-list {
		  		@include border-box;
		  		width: 100%;
		  		overflow: hidden;
		  		margin: 10px 0 0 12px;
		  		display: -webkit-flex;
		  		display: flex;

		  		li {
		  			position: relative;
		  			display: inline-block;
		  			width: 33.3%;

		  			&:nth-child(2) {
		  				margin-left: 18px;
		  				.sign {
		  					margin: 9px 40px 10px 19px;
		  				}
		  			}
		  			&:nth-child(3) {
		  				width: 31.3%;
		  				margin-left: 3px;
		  				.sign {
		  					margin: 16px 15px 10px 16px;
		  				}
		  			}
		  			.number {
		  				float: left;
		  				color: #E51002;
		  				font: 600 70px/53px $family;
		  				display: inline-block;
		  				margin: 14px 0 0 0;
		  			}
		  			.sign {
		  				float: left;
		  				margin: 9px 15px 10px 1px;
		  				overflow: hidden;
		  				letter-spacing: 1px;
		  				color: #666666;
		  				font:  400 20px / 25px $family;
		  			}
		  			img {
		  				float: left;
		  				margin: 31px 0;
		  			}
		  		}
		  	}
		  }
		}
	}
	.scene-block {

		.hover-block {
			min-width: 224px;
			width: 224px;
			height: auto;
			overflow: hidden;
			position: absolute;
			left: -9999999999px;
			z-index: 9999999999;
			background-color: white;
			box-shadow: -0.4px 1.9px 18px rgba(0, 1, 1, 0.37);			

			.hover-block-list {
				@include border-box;
				overflow: hidden;
				padding: 17px 0 21px 16px;

				& > li {
					display: block;
					width: auto;
					height: auto;
					clear: both;
					overflow: hidden;
					margin: 11px auto;

					span {
						float: left;
						overflow: hidden;
						font: 400 16px / 20px $family;
						color: #262626;
					}
				}
				& > .color-square-1,
				& > .color-square-2,
				& > .color-square-3 {
					float: left;
					margin-right: 10px;
				}
				.color-square-1,
				.color-square-2,
				.color-square-3 {
					float: left;
					width: 25px;
					height: 25px;
					margin-right: 15px;
				}
				.color-square-1 {
					background: #BCB8B5;					
				}
				.color-square-2 {
					background: #5A009E;					
				}
				.color-square-3 {
					background: #ED6A00;					
				}
			}
		}
	}
}
@media (max-width: 767px) {

}
@media (min-width: 768px) {
	.dm-overlay {
		.scene3-left-side-block,
		.scene3-left-center-side-block,
		.scene3-center-block,
		.scene3-right-center-block,
		.scene3-right-side-block,
		.scene3-right-side-block-mobile,
		.balcony-left-side,
		.balcony-center,
		.balcony-right-side {
			width: 100%;
			.scene3-left-side-A,
			.scene3-left-side-B,
			.scene3-left-side-C,
			.scene3-left-side-D,
			.scene3-left-side-E,
			.scene3-left-side-F,
			.scene3-left-side-G,
			.scene3-left-side-H,
			.scene3-left-side-J,
			.scene3-left-side-K,
			.scene3-left-side-L,
			.scene3-left-side-M,
			.scene3-left-side-N,
			.scene3-left-side-P,
			.scene3-left-side-Q,
			.scene3-left-side-R,
			.scene3-left-side-S,
			.scene3-left-side-T,
			.scene3-left-side-U,
			.scene3-left-side-V,
			.scene3-left-center-side-A,
			.scene3-left-center-side-B,
			.scene3-left-center-side-C,
			.scene3-left-center-side-D,
			.scene3-left-center-side-E,
			.scene3-left-center-side-F,
			.scene3-left-center-side-G,
			.scene3-left-center-side-H,
			.scene3-left-center-side-J,
			.scene3-left-center-side-K,
			.scene3-left-center-side-L,
			.scene3-left-center-side-M,
			.scene3-left-center-side-N,
			.scene3-left-center-side-P,
			.scene3-left-center-side-Q,
			.scene3-left-center-side-R,
			.scene3-left-center-side-S,
			.scene3-left-center-side-T,
			.scene3-left-center-side-U,
			.scene3-left-center-side-V,
			.scene3-center-side-A,
			.scene3-center-side-B,
			.scene3-center-side-C,
			.scene3-center-side-D,
			.scene3-center-side-E,
			.scene3-center-side-F,
			.scene3-center-side-G,
			.scene3-center-side-H,
			.scene3-center-side-J,
			.scene3-center-side-K,
			.scene3-center-side-L,
			.scene3-center-side-M,
			.scene3-center-side-N,
			.scene3-center-side-P,
			.scene3-center-side-Q,
			.scene3-center-side-R,
			.scene3-center-side-S,
			.scene3-center-side-T,
			.scene3-center-side-U,
			.scene3-center-side-V,
			.scene3-right-center-side-A,
			.scene3-right-center-side-B,
			.scene3-right-center-side-C,
			.scene3-right-center-side-D,
			.scene3-right-center-side-E,
			.scene3-right-center-side-F,
			.scene3-right-center-side-G,
			.scene3-right-center-side-H,
			.scene3-right-center-side-J,
			.scene3-right-center-side-K,
			.scene3-right-center-side-L,
			.scene3-right-center-side-M,
			.scene3-right-center-side-N,
			.scene3-right-center-side-P,
			.scene3-right-center-side-Q,
			.scene3-right-center-side-R,
			.scene3-right-center-side-S,
			.scene3-right-center-side-T,
			.scene3-right-center-side-U,
			.scene3-right-center-side-V,
			.scene3-right-side-side-A,
			.scene3-right-side-side-B,
			.scene3-right-side-side-C,
			.scene3-right-side-side-D,
			.scene3-right-side-side-E,
			.scene3-right-side-side-F,
			.scene3-right-side-side-G,
			.scene3-right-side-side-H,
			.scene3-right-side-side-J,
			.scene3-right-side-side-K,
			.scene3-right-side-side-L,
			.scene3-right-side-side-M,
			.scene3-right-side-side-N,
			.scene3-right-side-side-P,
			.scene3-right-side-side-Q,
			.scene3-right-side-side-R,
			.scene3-right-side-side-S,
			.scene3-right-side-side-T,
			.scene3-right-side-side-U,
			.scene3-right-side-side-V,
			.balcony-left-side-AA,
			.balcony-left-side-BB,
			.balcony-left-side-CC,
			.balcony-left-side-DD,
			.balcony-left-side-EE,
			.balcony-left-side-FF,
			.balcony-left-side-GG,
			.balcony-left-side-HH,
			.balcony-left-side-JJ,
			.balcony-left-side-KK,
			.balcony-left-side-LL,
			.balcony-left-side-MM,
			.balcony-center-AA,
			.balcony-center-BB,
			.balcony-center-CC,
			.balcony-center-DD,
			.balcony-center-EE,
			.balcony-center-FF,
			.balcony-center-GG,
			.balcony-center-HH,
			.balcony-center-JJ,
			.balcony-center-KK,
			.balcony-center-LL,
			.balcony-center-MM,
			.balcony-right-side-AA,
			.balcony-right-side-BB,
			.balcony-right-side-CC,
			.balcony-right-side-DD,
			.balcony-right-side-EE,
			.balcony-right-side-FF,
			.balcony-right-side-GG,
			.balcony-right-side-HH,
			.balcony-right-side-JJ,
			.balcony-right-side-KK,
			.balcony-right-side-LL,
			.balcony-right-side-MM {
				width: 100%;
				overflow: hidden;
				margin: 0 auto;

				li {
					display: block;
					float: left;
					width: 37px;
					height: 37px;
					margin: 2px;
					a {
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 16px / 37px $family;
					}
				}
				.series-name {
					a {
						color: #000;
						font: 400 16px / 37px $family;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}