@mixin site-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	background-size: contain;
	background-position: center;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin page-bg {
	padding: 31px 0 39px;
	background: url('../images/backgr.png') no-repeat;
	background-size: cover;
	background-position: center center;

	.rgb-background {
		max-width: 1060px;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 33px 0 65px;
		background: rgba(255, 255, 255, 0.6);
	}
}
@mixin mapWrapper {
	position: relative;
	padding-bottom: 53.25%;
	height: 0;
	overflow: hidden;
	box-sizing: border-box;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


@mixin white-bg-container {
	position: relative;
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 0px 20px 0;
	background: #fff;
	overflow: hidden;
	box-sizing: border-box;
}
@mixin direction {
	@include site-container;
	padding: 6px 0;
	background-color: #74023b;
	box-shadow: 2.4px 4.4px 7px rgba(0, 1, 1, 0.26);
	z-index: 9;	
	.arrow-back {
		float: left;
		margin: 5px 0 0 0;
	}
	.direction-title {
		margin: 0 auto;
		text-align: center;
		a {
			color: white;
			font: 400 15px / 25px $family;
			text-transform: uppercase;
		}
	}
}
$family: 'Open Sans', sans-serif;

@media (min-width: 320px) {
	.direction {
		@include direction;
	}
	.scene1-page {
		@include site-container;


		.white-bg-container {
			@include white-bg-container;
			padding: 0;

			.header-content {
				clear: both;
				overflow: hidden;
				padding-bottom: 19px;
				border-bottom: 2px solid #C2C2C2;

				.left-content {
					float: left;
					.title {
						color: #262626;
						width: 131px;
						margin: 21px 0 0 0;
						font: 700 28px/32px $family;
						text-transform: uppercase;
						letter-spacing: -0.4px;
					}
					.location {
						margin: 15px 0 0 0;
						color: #262626;
						font:  400 22px / 32px $family;
					}
				}
				.right-content {
					float: left;
					.date {
						margin: 31px 22px 0 0;
						color: #73023A;
						text-transform: uppercase;
						font:  700 22px / 24px $family;
					}
					.time {
						float: left;
						margin: 10px 23px 0 0;
						color: #73023A;
						font:  700 22px / 24px $family;
					}
				}
			}


			.scene-block,
			.scene1-block {
				clear: both;
				margin: 0 auto 46px;
		    // padding-top: 26px;
		    .block-title {
		    	width: 210px;
		    	margin: 0 auto;
		    	padding: 13px 4px;
		    	text-align: center;
		    	font: 400 36px / 21px $family;
		    	color: #fff;
		    	letter-spacing: -2px;
		    	padding-right: 20px;
		    	text-transform: uppercase;
		    	background: #9D9D9D;

		    	-webkit-border-bottom-right-radius: 15px;
		    	-webkit-border-bottom-left-radius: 15px;
		    	-moz-border-radius-bottomright: 15px;
		    	-moz-border-radius-bottomleft: 15px;
		    	border-bottom-right-radius: 15px;
		    	border-bottom-left-radius: 15px;
		    }
		  } 
		}
		.scene {
			width: 100%;
			margin-top: 30px;
			box-sizing: border-box;
			overflow: hidden;
			clear: both;

			.scene1-left-side {
				position: relative;
				float: left;
				.A, .B, .C, .D, .E,
				.F, .G, .H, .J, .I,
				.K, .L, .M, .N {
					@include border-box;
					width: auto;
					clear: both;
					display: block;
					margin: 10px 1px;
					overflow: hidden;

					li {
						float: left;
						display: block;
						width: 25px;
						height: 25px;
						margin: 1px 4px 1px 1px;
						a {
							position: relative;
							overflow: hidden;
							display: block;
							text-align: center;
							color: white;
							font: 400 15px / 25px $family;
						}
					}
					.reserved {
						background-color: #bcb8b6;
					}
					.ather-backets {
						background-color: #ed6a00;
					}
					.in-the-basket {
						background-color: #5A009E;
					}
					.cheap-price {
						background-color: #E7CE00;
					}
					.average-price {
						background-color: #C00463;
					}
					.highest-price {
						background-color: #840343;
					}
					.series-name {
						a {
							color: #282828;
							font: 400 18px / 37px $family;
							text-transform: uppercase;
						}
					}
				}
			}
			.scene1-center {
				float: left;
				position: relative;
			// margin: 0 0 20px 5%;
			.A, .B, .C, .D, .E,
			.F, .G, .H, .J, .I,
			.K, .L, .M, .N {
				@include border-box;
				width: auto;
				clear: both;
				display: block;
				margin: 10px 1px;
				overflow: hidden;

				li {
					float: left;
					display: block;
					width: 25px;
					height: 25px;
					margin: 1px 4px 1px 1px;
					a {
						position: relative;
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 15px / 25px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #282828;
						font: 400 18px / 37px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		.scene1-right-side {
			float: left;
			position: relative;
			.A, .B, .C, .D, .E,
			.F, .G, .H, .J, .I,
			.K, .L, .M, .N {
				@include border-box;
				width: auto;
				clear: both;
				display: block;
				margin: 10px 1px;
				overflow: hidden;

				li {
					float: left;
					display: block;
					width: 25px;
					height: 25px;
					margin: 1px 4px 1px 1px;
					a {
						position: relative;
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 15px / 25px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #282828;
						font: 400 18px / 37px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		.scene1-left-side,
		.scene1-center,
		.scene1-right-side {
			margin: 20px auto;
		}
		.scene1-left-side {
			margin: 0 auto 20px;
		}
		.container-scene-title {
			margin: 24px auto 0;
			text-align: center;
			color: #262626;
			font: 400 22px / 24px $family;
			text-transform: uppercase;
		}
	}
	.according-block {
		padding-top: 8px;
		border-top: 2px solid #C2C2C2;
		.according-title {
			margin: 10px 0 0 0;
			letter-spacing: -1px;
			color: #75023B;
			font:  700 22px / 24px $family;
		}
		.according-list {
			@include border-box;
			width: 100%;
			overflow: hidden;
			margin: 10px 0 37px 0;

			li {
				display: block;
				width: 100%;
				overflow: hidden;

				&:nth-child(2) {
					.sign {
						margin: 15px 15px 10px 19px;
					}
				}
				&:nth-child(3) {
					.sign {
						margin: 16px 15px 10px 16px;
					}
				}
				.number {
					float: left;
					color: #E51002;
					font: 600 70px/53px $family;
					display: inline-block;
					margin: 14px 0 0 0;
				}
				.sign {
					float: left;
					margin: 15px 15px 10px 1px;
					overflow: hidden;
					letter-spacing: 1px;
					color: #656565;
					font:  400 20px / 25px $family;
				}
				img {
					float: left;
					margin: 31px 0;
				}
			}
		}
	}
}
}
/*--------514---------*/
@media (min-width: 514px) {
	.scene1-page {
		.scene {
			.scene1-center {
				margin-top: 0 !important;
			}
		}
	}
}
/*--------768---------*/
@media (min-width: 768px) {
	.scene1-page {
		.scene {
			.scene1-right-side {
				margin-top: 0 !important;
			}
		}
	}
	.according-block {
		.according-list {
			li {
				display: inline-block !important;
				width: auto !important;
				overflow: hidden;

				&:nth-child(2) {
					margin-left: 40px;
				}
			}	
		}
	}
}
@media (min-width: 1024px) {
	.scene1-page {
		@include site-container;
		@include page-bg;
		padding: 38px 0 39px;

		.rgb-background {
			padding: 33px 15px 36px;
		}

		.white-bg-container {
			@include white-bg-container;

			.header-content {
				clear: both;
				overflow: hidden;
				padding-bottom: 19px;
				border-bottom: 2px solid #C2C2C2;

				.left-content {
					float: left;
					.title {
						color: #272727;
						margin: 21px 0 0 13px;
						font: 700 50px/60px $family;
						text-transform: uppercase;
						letter-spacing: -0.4px;
					}
					.location {
						margin: 8px 0 0 15px;
						color: #252525;
						font:  700 20px / 41px $family;
					}
				}
				.right-content {
					float: right;
					.date {
						margin: 38px 22px 0 0;
						color: #73023A;
						text-transform: uppercase;
						font:  700 30px / 41px $family;
					}
					.time {
						float: right;
						margin: 5px 23px 0 0;
						color: #73023A;
						font:  700 30px / 41px $family;
					}
				}
			}

			.scene-block,
			.scene1-block {
				clear: both;
				margin: 0 auto 46px;
		    // padding-top: 26px;
		    .block-title {
		    	width: 210px;
		    	margin: 0 auto;
		    	padding: 13px 4px;
		    	text-align: center;
		    	font: 400 36px / 21px $family;
		    	color: #fff;
		    	letter-spacing: -2px;
		    	padding-right: 20px;
		    	text-transform: uppercase;
		    	background: #9D9D9D;

		    	-webkit-border-bottom-right-radius: 15px;
		    	-webkit-border-bottom-left-radius: 15px;
		    	-moz-border-radius-bottomright: 15px;
		    	-moz-border-radius-bottomleft: 15px;
		    	border-bottom-right-radius: 15px;
		    	border-bottom-left-radius: 15px;
		    }
		  } 
		}
		.scene {
			width: 100%;
			margin-top: 30px;
	    	// position: relative;
	    	// top: -31px;
	    	box-sizing: border-box;
	    	overflow: hidden;
	    	clear: both;

	    	.scene1-left-side {
	    		float: left;
			// margin: 0 0 20px 5%;
			.A, .B, .C, .D, .E,
			.F, .G, .H, .J, .I,
			.K, .L, .M, .N {
				@include border-box;
				width: auto;
				clear: both;
				display: block;
				margin: 10px 1px;
				overflow: hidden;
				// z-index: 9;

				li {
					float: left;
					display: block;
					width: 37px;
					height: 37px;
					margin: 1px 4px 1px 1px;
					a {
						position: relative;
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 19px / 37px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #282828;
						font: 400 18px / 37px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		.scene1-center {
			float: left;
			// margin: 0 0 20px 5%;
			.A, .B, .C, .D, .E,
			.F, .G, .H, .J, .I,
			.K, .L, .M, .N {
				@include border-box;
				width: auto;
				clear: both;
				display: block;
				margin: 10px 1px;
				overflow: hidden;

				li {
					float: left;
					display: block;
					width: 37px;
					height: 37px;
					margin: 1px 4px 1px 1px;
					a {
						position: relative;
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 19px / 37px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #282828;
						font: 400 18px / 37px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		.scene1-right-side {
			float: left;
			// margin: 0 0 20px 5%;
			.A, .B, .C, .D, .E,
			.F, .G, .H, .J, .I,
			.K, .L, .M, .N {
				@include border-box;
				width: auto;
				clear: both;
				display: block;
				margin: 10px 1px;
				overflow: hidden;

				li {
					float: left;
					display: block;
					width: 37px;
					height: 37px;
					margin: 1px 4px 1px 1px;
					a {
						position: relative;
						overflow: hidden;
						display: block;
						text-align: center;
						color: white;
						font: 400 19px / 37px $family;
					}
				}
				.reserved {
					background-color: #bcb8b6;
				}
				.ather-backets {
					background-color: #ed6a00;
				}
				.in-the-basket {
					background-color: #5A009E;
				}
				.cheap-price {
					background-color: #E7CE00;
				}
				.average-price {
					background-color: #C00463;
				}
				.highest-price {
					background-color: #840343;
				}
				.series-name {
					a {
						color: #282828;
						font: 400 18px / 37px $family;
						text-transform: uppercase;
					}
				}
			}
		}
		.container-scene-title {
			margin: 24px auto 0;
			text-align: center;
			color: #262626;
			font: 400 22px / 24px $family;
			text-transform: uppercase;
		}
	}
	.according-block {
		padding-top: 8px;
		border-top: 2px solid #C2C2C2;
		.according-title {
			margin: 10px 0 0 15px;
			letter-spacing: -1px;
			color: #75023B;
			font:  700 24px / 41px $family;
		}
		.according-list {
			@include border-box;
			width: 100%;
			overflow: hidden;
			margin: 10px 0 0 12px;
			display: -webkit-flex;
			display: flex;

			li {
				display: inline-block;
				width: 33.3%;

				&:nth-child(2) {
					margin-left: 40px;
					.sign {
						margin: 15px 40px 10px 19px;
					}
				}
				&:nth-child(3) {
					width: 31.3%;
					margin-left: 15px;
					.sign {
						margin: 16px 15px 10px 16px;
					}
				}
				.number {
					float: left;
					color: #E51002;
					font: 600 70px/53px $family;
					display: inline-block;
					margin: 14px 0 0 0;
				}
				.sign {
					float: left;
					margin: 15px 15px 10px 1px;
					overflow: hidden;
					letter-spacing: 1px;
					color: #666666;
					font:  400 20px / 25px $family;
				}
				img {
					float: left;
					margin: 31px 0;
				}
			}
		}
	}
}
}