@import "compass/reset";

body {
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background: #fff;
}
$family: 'Open Sans', sans-serif;
// @mixin direction {
//   @include site-container;
//   padding: 6px 0;
//   background-color: #94d10e;
//   .arrow-back {
//     float: left;
//     margin: 5px 0 0 0;
//   }
//   .direction-title {
//     margin: 0 auto;
//     text-align: center;
//     a {
//       color: white;
//       font: 400 15px / 25px 'Arial', sans-serif;
//       text-transform: uppercase;
//     }
//   }
// }
// @mixin mapWrapper {
// 	position: relative;
// 	padding-bottom: 65.25%;
// 	padding-top: 30px;
// 	height: 0;
// 	overflow: hidden;
// 	box-sizing: border-box;

//     iframe {
//         position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
//     }

// }
@mixin site-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	background-size: contain;
	background-position: center;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin page-bg {
	padding: 31px 0 39px;
	background: url('../images/backgr.png') no-repeat;
	background-size: cover;
	background-position: center center;

	.rgb-background {
		max-width: 1060px;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 33px 0 36px;
		background: rgba(255, 255, 255, 0.6);
	}
}
.wrapper {
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}


//*-----------------MOBILE VERSION---------------------------*/
@media (max-width: 1023px) {
	.price-ticket-block {
		display: none;
	}
	header {
		max-height: 67px;
		padding: 10px 0 9px;
		background: #fff;
		border-bottom: 3px solid #74023b;
	}
	.dropdovn-menu-mobile {
		position: relative;
		.hidden-menu {
			display: block;
			position: absolute;
			list-style:none;
			padding: 55px 0 0 0;
			margin: 0;
			box-sizing: border-box;
			width: 217px;
			background-color: #74023b;
			box-shadow: 2.4px 4.4px 7px rgba(0, 1, 1, 0.26);
			height: auto;
			top: -15px;
			left: -650px;
			transition: left .2s;
			z-index: 9;
			-webkit-transform: classZ(0);
			-webkit-backface-visibility: hidden;
			li {
				display: block;
				width: 100%;
				height: 43px;
				margin: 0 auto;
				text-align: left;
				line-height: 43px;
				vertical-align: middle;

				a {
					display: block;
					width: 100%;
					height: 100%;
					padding-left: 26px;
					color: #fff;
					font: 400 18px / 35px $family;
					color: white;
					@include transition;

					&:hover {
						color: #fff;
						background: #bf0361;
					}
				}
				a.active {
					color: #fff;
					background: #bf0361;
				}
			}
			.language-item {
				a {
					display: inline-block;
					width: 28px;
					height: 25px;
					color: white;
					font: 400 15px / 20px $family;
					&:first-of-type {
						margin-left: 26px;
						padding: 0;
					}
					&:nth-of-type(2) {
						padding: 0 0 0 3px;
					}
				}
				a.active-lenguage {
					background: #bf0361;
				}
				span {
					color: #fff;
				}
			}
		}
		.hidden-menu-ticker {
			display: none;
		}
		.btn-menu {
			color: #fff;
			background-color: none;
			position: absolute;
			top: 10px;
			left: 5px;
			cursor: pointer;
			transition: left .23s;
			z-index: 99;
			width: 22px;
			-webkit-transform: classZ(0);
			-webkit-backface-visibility: hidden;
		}
		.btn-menu span {
			display: block;
			height: 2px;
			background-color: #333;
			margin: 3px 0 0;
			transition: all .1s linear .23s;
			border-radius: 10px;
			position: relative;
		}
		.btn-menu span.first {
			margin-top: 0;
		}
		.hidden-menu-ticker:checked ~ .btn-menu {
			left: 160px;
			top: 15px;
			z-index: 99999;
		}
		.hidden-menu-ticker:checked ~ .btn-menu span {
			background-color: #fff;
		}
		.hidden-menu-ticker:checked ~ .hidden-menu {
			left: -15px;
			top: -25px;
			overflow: hidden;
			margin: 5px 0 0 0;
			z-index: 9999;
		}
	}

	/*logo*/
	.mobile-logo {
		.logo {
			max-width: 106px;
			width: 100%;
			max-height: 40px;
			height: 100%;
			overflow: hidden;
			margin: 0 auto;
			padding-left: 35px;
			padding-top: 5px;
			text-align: center;

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
	/*dropdown phone*/
	.call-us-block {
		float: right;
		margin: 0;
		vertical-align: middle;

		img {
			display: inline-block;
			line-height: 33px;
			vertical-align: middle;
		}
	}
	#info-mobile {
		width: 230px;
		height: auto;
		background-color: #74023b;
		box-shadow: 2.4px 4.4px 7px rgba(0, 1, 1, 0.26);
		clear:none;
		float: right;
		position: absolute;
		top: 64px;
		right: 0;
		z-index: 100;
		@include transition;

		a {
			display: block;
			margin: 6px auto 5px;
			text-align: center;
			.phone {
				color: #fff;
				font: 700 22px / 35px $family;
			}
		}
	}
	.call-us-block > label {
		color: #000; 
		float: right; 
		margin: 5px 0 0;
		cursor: pointer;
		@include transition;
	}
	input{display:none;}
	input:checked+#info-mobile{display:none;}

	/*end dropdown phone*/
	/*end menu*/
	.main-menu,
	.lenguage-block {
		display: none;
	}

	/*---------------------MAIN CONTENT----------------------------------*/
	.main-block-content {
		@include site-container;

		.content-block {
			margin: 20px auto 0;
			max-width: 640px;

			.full-width-img {
				display: none;
				width: 100%;
				height: 100%

				img {
					max-width: 100%;
					height: 100%;
				}
			}
			.full-width-img-mobile {
				width: 100%;
				height: 100%;
				box-sizing: border-box;

				img {
					width: 100%;
					height: 100%;
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.relative-block {
			position: relative;

			.position-block {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;

				.top-content,
				.description-info {
					clear: both;
					overflow: hidden;
				}
				.top-content {

					.top-content-title {
						width: 195px;
						height: auto;
						margin: 22px 0 0;
						padding: 11px 0 9px 11px;
						color: #74023b;
						font: 700 16px / 18px $family;
						text-transform: uppercase;
						background: rgba(255, 255, 255, 0.7);
						color: #74023b;
						a {
							color: #74023b;
						}
					}
					.top-content-date {
						float: right;
						width: 47px;
						height: 55px;
						margin: 0 11px 0 0;
						padding: 10px 0 14px;
						color: white;
						font:  700 16px / 18px $family;
						text-align: center;
						background-color: #74023b;
						a {
							color: #fff;
						}

						.day {
							position: relative;
							padding-bottom: 5px;

							&:after {
								position: absolute;
								bottom: 0;
								left: 50%;
								transform: translateX(-50%);
								content: "";
								display: block;
								width: 33px;
								height: 1px;
								background: #fff;
							}
						}
						.month {
							display: block;
							margin-top: 15px;
						}
					}
				}
				.description-info {
					display: none;
				}
				@media (max-width: 1023px) {
					.description-info-mobile {
						position: absolute;
						bottom: 20px;
						width: 100%;
						overflow: visible;
						.description-sign {
							width: 100%;
							height: auto;
							box-sizing: border-box;
							margin: 8px 0 0 0;
							padding: 8px 0 8px 11px;
							color: #333;
							font: 600 16px / 20px $family;
							background: rgba(255, 255, 255, 0.7);
							a {
								color: #333;
							}
						}
						.float-btn-block {
							margin: 0 auto;
							text-align: center;
							.buy-ticket {
								display: block;
								width: 154px;
								height: 40px;
								margin: 20px auto 14px;
								text-align: center;
								color: #74023b;
								font: 600 20px / 40px $family;
								background-color: white;
								border-radius: 7px;
						// box-shadow: 2.5px 4.3px 9px rgba(0, 0, 0, 0.56);
						@include transition;
						&:hover {
							-webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
							-moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
							box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
						}
					}
					.more-btn {
						display: block;
						width: 154px;
						height: 40px;
						margin: 0 auto;
						text-align: center;
						color: white;
						font: 600 21px / 40px $family;
						background-color: #74023b;
						border-radius: 7px;
						// box-shadow: 2.5px 4.3px 9px rgba(0, 0, 0, 0.56);
						@include transition;
						&:hover {
							-webkit-box-shadow: 0px 0px 5px 1px rgba(116,2,59,1);
							-moz-box-shadow: 0px 0px 5px 1px rgba(116,2,59,1);
							box-shadow: 0px 0px 5px 1px rgba(116,2,59,1);
						}
					}
				}
			}
		}
	}
}
}
/*-------------------------------------UPCOMING CONCERTS------------------------------------*/
.upcoming-concerts {
	@include site-container;
	padding: 20px 0 15px;
	margin: 0 auto;
	background-color: #eaedf2;

	.upcoming-list {
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		display: -webkit-flex;
		display: flex;
		-ms-flex-pack: space-around;
		-webkit-justify-content: space-between;
		justify-content: space-between;

		li {
			display: block;
			width: 100%;
			max-width: 640px;
			margin: 10px auto;
			background: #fff;
			overflow: hidden;
			&:first-child,
			&:nth-child(2) {
				margin-top: 0;
			}

			.upcoming-concerts-img {
				float: left;
				max-width: 89px;
				max-height: 136px;
				width: 100%;
				height: 100%;
				margin: 0 8px 0 0;
				overflow: hidden;
				img {
					width: auto;
					height: 100%;
				}
			}
			.date-info {
				float: right;
				width: 41px;
				height: auto;
				margin: 0 14px 0 0;
				.concert-date {
					margin-bottom: 9px;
					padding: 0 0 8px 0;
					color: white;
					text-align: center;
					background-color: #74023b;
					.day {
						position: relative;
						margin-bottom: 16px;
						padding-bottom: 5px;
						font: 700 16px / 20px $family;

						&:after {
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
							content: "";
							display: block;
							width: 32px;
							height: 1px;
							background: #fff;
						}
					}
					.month {
						display: block;
						margin-top: 7px;
						font: 400 16px / 20px $family;
					}
				}
				.concert-time {
					color: #74023b;
					font: 700 10px / 14px $family;
				}
			}
			.main-info {
				.actor-name {
					margin: 15px 0 0;
					color: #262626;
					font: 700 11px / 14px $family;
					text-transform: uppercase;
				}
				.concert-location {
					margin: 35px 0 10px;
					color: #080202;
					font: 400 10px / 14px $family;
				}
			}
			.action-btn {
				overflow: hidden;
				margin-bottom: 0;
				padding-right: 26px;
				.buy-ticket-btn,
				.more-info-btn {
					display: inline-block;
					color: #74023b;
					font: 700 10px / 14px $family;
					text-decoration: underline;
					@include transition;

					&:hover {
						text-decoration: none;
					}
				}
				.buy-ticket-btn {
					float: left;
				}
				.more-info-btn {
					float: right;
				}
			}
		}
	}
}
/*---------------------END MAIN CONTENT----------------------------------*/
/*---------------------FOOTER----------------------------------*/
footer {
	@include site-container;
	.contact-form {
		padding: 47px 0 0;
		background: url('../images/photo------.png') no-repeat;
		background-size: initial;
		background-position: right center;
		overflow: hidden;

		.form-title {
			margin: 0 auto 82px;
			text-align: center;
			color: white;
			font: 700 25px / 30px $family;
			text-transform: uppercase;
		}

		label {
			display: block;
			color: white;
			font: 400 18px / 22px $family;

			img {
				display: inline-block;
				margin-right: 10px;
			}
		}

		.form-row {
			width: 100%;
			margin: 36px auto;
			overflow: hidden;
			@include border-box;

			&:last-of-type {
				margin-bottom: 0;
			}

			#name,
			#tel,
			#email,
			#theme {
				height: 38px;
			}
			#name,
			#tel,
			#email,
			#theme,
			#message {
				display: block;
				width: 100%;
				padding: 0 0  15px 35px;
				border: none;
				background: none;
				outline: none;
				border-bottom: 1px solid #fff;
				color: white;
				font: 400 18px / 38px $family;
				box-sizing: border-box;
				overflow: hidden;
				@include border-box;
			}
			#name {
				background: url('../images/icon-user.png') no-repeat;
				background-position: 0 10%;
			}
			#tel {
				background: url('../images/icon-phone-form.png') no-repeat;
				background-position: 0 10%;
			}
			#email {
				background: url('../images/icon-envelope.png') no-repeat;
				background-position: 0 10%;
			}
			#theme {
				background: url('../images/icon-theme.png') no-repeat;
				background-position: 0 10%;
			}
			#message {
				background: url('../images/icon-comment.png') no-repeat;
				background-position: 0 5%;
			}
			#message {
				resize: none;
				height: 245px;
				margin-bottom: 33px;
			}
			::-webkit-input-placeholder {
				color: white;
				font: 400 18px / 38px $family;
			}

			:-moz-placeholder { /* Firefox 18- */
				color: white;
				font: 400 18px / 38px $family;
			}

			::-moz-placeholder {  /* Firefox 19+ */
				color: white;
				font: 400 18px / 38px $family;
			}

			:-ms-input-placeholder {  
				color: white;
				font: 400 18px / 38px $family;
			}
		}
		// .half-block-name,
		// .half-block-tel {
		// 	// max-width: 44.5;
		// 	width: 100%;
		// 	margin: 0;
		// 	overflow: hidden;
		// }
		// .half-block-name {
		// 	float: left;
		// 	margin-right: 7.9%;
		// }
		// .half-width-tel {
		// 	float: right;
		// }
		.required-fields {
			margin: 4px 0 0;
			color: #fff;
			font: 400 15px / 22px $family;
			letter-spacing: -1px;
		}
		.submit-form-btn {
			display: block;
			width: 225px;
			height: 47px;
			margin: 36px auto 66px;
			text-align: center;
			color: white;
			font: 700 18px / 40px $family;
			text-transform: uppercase;
			border: 1px solid white;
			background: none;
			cursor: pointer;
			@include transition;

			&:hover {
				-webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
				-moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
				box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
			}
		}
	}
	.footer-contacts {
		width: 100%;
		margin: 0 auto;
		padding: 40px 0 38px;
		text-align: center;
		background-color: #74023b;
		.contact-phone {
			display: block;
			margin: 0 auto 30px;
			text-align: center;
			color: white;
			font: 700 22px / 35px $family;
		}
		.contact-location {
			margin: 0 auto;
			text-align: center;
			color: white;
			font: 400 18px / 25px $family;
			a {
				color: #fff;
			}
		}
	}
	.copyright {
		width: 100%;
		background: #000;
		padding: 18px 0;

		h4 {
			margin: 0 auto;
			text-align: center;
			color: white;
			font: 400 16px / 27px $family;
			a {
				color: #fff;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
}

//*-----------------END MOBILE VERSION---------------------------*/

@media (min-width: 1024px) {

	.price-ticket-block {
		position: fixed;
		width: 184px;
		height: auto;
		padding: 10px 5px;
		right: 0;
		top: 15%;
		box-sizing: border-box;
		color: #fff;
		overflow: hidden;
		z-index: 9999;
    background: rgba(255, 255, 255, 0.8);

		.header-list {
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			display: -webkit-flex;
			display: flex;
			-ms-flex-pack: space-around;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			background: rgba(0, 0, 0, 0.6);
			li {
				width: 40px;
				display: inline-block;
				font: 400 12px / 16px $family;
				color: #fff;
				text-align: center;
			}
		}
		.tickets-list {
			width: 100%;
			& > li {
				width: 100%;
				display: block;
				text-align: center;
				margin: 10px auto;
				background: rgba(116,2,59, 0.8);
				.tickets-row {
					width: 100%;
					display: -webkit-box;
					display: -ms-flexbox;
					-webkit-flex-wrap: wrap;
					flex-wrap: wrap;
					display: -webkit-flex;
					display: flex;
					-ms-flex-pack: space-around;
					-webkit-justify-content: space-between;
					justify-content: space-between;
					align-items: center;
					li {
						width: 40px;
						display: inline-block;
						text-align: center;
						span {
							font: 400 12px / 16px $family;
							color: #fff;
						}
					}
				}
			}
		}
	}
	/*----------------------------- HEADER ---------------------*/
	header {
		@include site-container;

		.mobile-logo,
		.call-us-block {
			display: none;
		}
		.dropdovn-menu-mobile {
			display: none;
		}
		.lenguage-block {
			display: block;
			padding: 27px 0 25px;
			overflow: hidden;
			@include border-box;
			background: #fff;

			.logo {
				float: left;
				width: 142px;
				height: 54px;
				overflow: hidden;

				img {
					max-width: 100%;
					height: auto;
				}
			}
			#lenguage-list {
				float: right;
				padding: 9px 0;

				li {
					display: inline-block;
					width: 53px;
					height: 35px;
					margin-left: -.36em;
					a {
						display: block;
						width: 100%;
						height: 100%;
						font: 400 18px / 35px $family;
						color: #3e3e3e;
						text-align: center;
						@include transition;

						&:hover {
							color: #fff;
							background-color: #74023b;
						}
					}
					a.lenguage-list-active {
						color: #fff;
						background-color: #74023b;
					}
				}
			}
		}
		.main-menu {
			display: block;
			width: 100%;
			height: 38px;
			background-color: #74023b;
			.list-menu {
				width: 100%;
				@include border-box;
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-ms-flex-pack: space-around;
				-webkit-justify-content: space-around;
				justify-content: space-around;

				li {
					width: auto;
					display: inline-block;
					margin-left: -.36em;
					height: 100%;

					a {
						display: block;
						width: auto;
						padding: 0 21px;
						color: white;
						text-align: center;
						font: 400 18px / 38px $family;
						@include transition;

						&:hover {
							color: #1c1c1c;
							background: #fff;
						}
					}
					a.list-menu-active {
						color: #1c1c1c;
						background: #fff;
					}
				}

			}
		}
	}
	/*---------------------------MAIN BLOCK CONTENT-----------------------------*/
	.main-block-content {
		@include site-container;
		@include page-bg;

		.content-block {
			margin: 58px auto 0;

			.full-width-img {
				display: block;
				width: 100%;
				height: 100%

				img {
					max-width: 100%;
					height: 100%;
				}
			}
			.full-width-img-mobile {
				display: none;
			}

			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.relative-block {
			position: relative;

			.position-block {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;

				.top-content,
				.description-info {
					clear: both;
					overflow: hidden;
				}
				.top-content {

					.top-content-title {
						width: 331px;
						height: auto;
						margin: 22px 0 0;
						padding: 11px 0 9px 33px;
						color: #74023b;
						font: 700 25px / 42px $family;
						text-transform: uppercase;
						background: rgba(255, 255, 255, 0.7);
						a {
							color: #74023b;
						}
					}
					.top-content-date {
						float: right;
						width: 87px;
						height: auto;
						margin: 0 33px 0 0;
						padding: 10px 0 14px;
						color: white;
						font:  700 30px / 41px $family;
						text-align: center;
						background-color: #74023b;
						a {
							color: #fff;
						}

						.day {
							position: relative;
							padding-bottom: 5px;

							&:after {
								position: absolute;
								bottom: 0;
								left: 50%;
								transform: translateX(-50%);
								content: "";
								display: block;
								width: 66px;
								height: 1px;
								background: #fff;
							}
						}
					}
				}
				.description-info-mobile {
					display: none !important; 
				}
				.description-info {
					display: block;
					position: absolute;
					bottom: 25px;
					width: 100%;
					overflow: visible;
					.description-sign {
						width: 499px;
						height: auto;
						margin: 8px 0 0 0;
						padding: 18px 60px 19px 29px;
						color: #333;
						font: 600 16px / 20px $family;
						background: rgba(255, 255, 255, 0.7);
						a {
							color: #333;
						}
					}
					.float-btn-block {
						float: right;
						margin: 0 28px 0 0;
						.buy-ticket {
							display: block;
							width: 154px;
							height: 40px;
							margin: 0 auto 22px;
							text-align: center;
							color: #74023b;
							font: 600 20px / 40px $family;
							background-color: white;
							border-radius: 7px;
						// box-shadow: 2.5px 4.3px 9px rgba(0, 0, 0, 0.56);
						@include transition;
						&:hover {
							-webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
							-moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
							box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
						}
					}
					.more-btn {
						display: block;
						width: 154px;
						height: 40px;
						margin: 0 auto;
						text-align: center;
						color: white;
						font: 600 21px / 40px $family;
						background-color: #74023b;
						border-radius: 7px;
						// box-shadow: 2.5px 4.3px 9px rgba(0, 0, 0, 0.56);
						@include transition;
						&:hover {
							-webkit-box-shadow: 0px 0px 5px 1px rgba(116,2,59,1);
							-moz-box-shadow: 0px 0px 5px 1px rgba(116,2,59,1);
							box-shadow: 0px 0px 5px 1px rgba(116,2,59,1);
						}
					}
				}
			}
		}
	}
}
/*-------------------------------------UPCOMING CONCERTS------------------------------------*/
.upcoming-concerts {
	@include site-container;
	padding: 54px 0 42px;
	margin: 0 auto;
	background-color: #eaedf2;

	.upcoming-list {
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		display: -webkit-flex;
		display: flex;
		-ms-flex-pack: space-around;
		-webkit-justify-content: space-between;
		justify-content: space-between;

		li {
			width: 48%;
			margin: 20px 0;
			background: #fff;
			overflow: hidden;
			&:first-child,
			&:nth-child(2) {
				margin-top: 0;
			}

			.upcoming-concerts-img {
				float: left;
				max-width: 153px;
				width: 100%;
				height: 100%;
				margin: 0 8px 0 0;
				overflow: hidden;
				img {
					width: auto;
					height: 100%;
				}
			}
			.date-info {
				float: right;
				width: 67px;
				height: auto;
				margin: 0 26px 0 0;
				.concert-date {
					margin-bottom: 11px;
					padding: 0 0 12px 0;
					color: white;
					text-align: center;
					background-color: #74023b;
					.day {
						position: relative;
						margin-bottom: 16px;
						padding-bottom: 5px;
						font: 700 30px / 41px $family;

						&:after {
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
							content: "";
							display: block;
							width: 52px;
							height: 1px;
							background: #fff;
						}
					}
					.month {
						font: 400 26px / 28px $family;
					}
				}
				.concert-time {
					color: #74023b;
					font: 700 16px / 22px $family;
				}
			}
			.main-info {
				.actor-name {
					min-height: 50px;
					margin: 21px 0;
					color: #262626;
					font: 700 18px / 22px $family;
					text-transform: uppercase;
				}
				.concert-location {
					// margin: 50px 0 23px;
					margin: 5% 0 23px;
					color: #080202;
					font: 400 16px / 22px $family;
				}
			}
			.action-btn {
				overflow: hidden;
				margin-bottom: 0;
				padding-right: 26px;
				.buy-ticket-btn,
				.more-info-btn {
					display: inline-block;
					color: #74023b;
					font: 700 16px / 22px $family;
					text-decoration: underline;
					@include transition;

					&:hover {
						text-decoration: none;
					}
				}
				.buy-ticket-btn {
					float: left;
				}
				.more-info-btn {
					float: right;
				}
			}
		}
	}
}
/*-----------------------------FOOTER--------------*/
footer {
	@include site-container;

	.footer-contacts {
		display: none;
	}
	.contact-form {
		padding: 69px 0 138px;
		background: url('../images/photo------.png') no-repeat;
		background-size: initial;
		background-position: right center;

		.form-title {
			margin: 0 auto 82px;
			text-align: center;
			color: white;
			font: 700 25px / 30px $family;
			text-transform: uppercase;
		}

		label {
			display: block;
			color: white;
			font: 400 18px / 22px $family;

			img {
				display: inline-block;
				margin-right: 10px;
			}
		}

		.form-row {
			width: 100%;
			margin: 36px auto;
			padding-left: 12px;
			overflow: hidden;
			#name,
			#tel,
			#email,
			#theme {
				height: 38px;
			}
			#name,
			#tel,
			#email,
			#theme,
			#message {
				display: block;
				width: 100%;
				padding: 0 0  15px 35px;
				border: none;
				background: none;
				outline: none;
				border-bottom: 1px solid #fff;
				color: white;
				font: 400 18px / 38px $family;
				box-sizing: border-box;
				overflow: hidden;
			}
			#name {
				background: url('../images/icon-user.png') no-repeat;
				background-position: 0 10%;
			}
			#tel {
				background: url('../images/icon-phone-form.png') no-repeat;
				background-position: 0 10%;
			}
			#email {
				background: url('../images/icon-envelope.png') no-repeat;
				background-position: 0 10%;
			}
			#theme {
				background: url('../images/icon-theme.png') no-repeat;
				background-position: 0 10%;
			}
			#message {
				background: url('../images/icon-comment.png') no-repeat;
				background-position: 0 5%;
			}
			#message {
				resize: none;
				height: 245px;
				margin-bottom: 33px;
			}
			::-webkit-input-placeholder {
				color: white;
				font: 400 18px / 38px $family;
			}

			:-moz-placeholder { /* Firefox 18- */
				color: white;
				font: 400 18px / 38px $family;
			}

			::-moz-placeholder {  /* Firefox 19+ */
				color: white;
				font: 400 18px / 38px $family;
			}

			:-ms-input-placeholder {  
				color: white;
				font: 400 18px / 38px $family;
			}
		}
		.half-block-name,
		.half-block-tel {
			width: 44.5%;
			margin: 0;
			overflow: hidden;
		}
		.half-block-name {
			float: left;
			margin-right: 7.9%;
		}
		.half-width-tel {
			float: right;
		}
		.required-fields {
			float: left;
			margin-top: 4px;
			color: #fff;
			font: 400 18px / 38px $family;
			letter-spacing: -1px;
		}
		.submit-form-btn {
			float: right;
			width: 225px;
			height: 47px;
			margin-right: 5px;
			text-align: center;
			color: white;
			font: 700 18px / 40px $family;
			text-transform: uppercase;
			border: 1px solid white;
			background: none;
			cursor: pointer;
			@include transition;

			&:hover {
				-webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
				-moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
				box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
			}
		}
	}
	.copyright {
		width: 100%;
		background: #000;
		padding: 18px 0;

		h4 {
			margin: 0 auto;
			text-align: center;
			color: white;
			font: 400 16px / 27px $family;
			a {
				color: #fff;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
/*------------------------------------------------*/
}
@import "legend";
@import "bilet-more";
@import "bilet_pokupka";
@import "poster-page";
@import "contact-page";
@import "scene1";
@import "scene2";
@import "scene3";
@import "scene4";
@import "fill-date-page";
@import "card-page";
@import "billing-page";