/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/main_styles.scss */
body {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}

/* line 81, ../sass/main_styles.scss */
.wrapper {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/* line 87, ../sass/main_styles.scss */
a {
  text-decoration: none;
}

/*----------------------------- HEADER ---------------------*/
/* line 91, ../sass/main_styles.scss */
header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 93, ../sass/main_styles.scss */
header .lenguage-block {
  padding: 27px 0 25px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
/* line 99, ../sass/main_styles.scss */
header .lenguage-block .logo {
  float: left;
  width: 142px;
  height: 54px;
  overflow: hidden;
}
/* line 105, ../sass/main_styles.scss */
header .lenguage-block .logo img {
  max-width: 100%;
  height: auto;
}
/* line 110, ../sass/main_styles.scss */
header .lenguage-block #lenguage-list {
  float: right;
  padding: 9px 0;
}
/* line 114, ../sass/main_styles.scss */
header .lenguage-block #lenguage-list li {
  display: inline-block;
  width: 53px;
  height: 35px;
  margin-left: -.36em;
}
/* line 119, ../sass/main_styles.scss */
header .lenguage-block #lenguage-list li a {
  display: block;
  width: 100%;
  height: 100%;
  font: 400 18px/35px "Open Sans", sans-serif;
  color: #3e3e3e;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 128, ../sass/main_styles.scss */
header .lenguage-block #lenguage-list li a:hover {
  color: #fff;
  background-color: #74023b;
}
/* line 133, ../sass/main_styles.scss */
header .lenguage-block #lenguage-list li a.lenguage-list-active {
  color: #fff;
  background-color: #74023b;
}
/* line 140, ../sass/main_styles.scss */
header .main-menu {
  width: 100%;
  height: 38px;
  background-color: #74023b;
}
/* line 144, ../sass/main_styles.scss */
header .main-menu .list-menu {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 155, ../sass/main_styles.scss */
header .main-menu .list-menu li {
  width: auto;
  display: inline-block;
  margin-left: -.36em;
  height: 100%;
}
/* line 161, ../sass/main_styles.scss */
header .main-menu .list-menu li a {
  display: block;
  width: auto;
  padding: 0 21px;
  color: white;
  text-align: center;
  font: 400 18px/38px "Open Sans", sans-serif;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 170, ../sass/main_styles.scss */
header .main-menu .list-menu li a:hover {
  color: #1c1c1c;
  background: #fff;
}
/* line 175, ../sass/main_styles.scss */
header .main-menu .list-menu li a.list-menu-active {
  color: #1c1c1c;
  background: #fff;
}

/*---------------------------MAIN BLOCK CONTENT-----------------------------*/
/* line 185, ../sass/main_styles.scss */
.main-block-content {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 31px 0 39px;
  background: url("../images/backgr.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 72, ../sass/main_styles.scss */
.main-block-content .rgb-background {
  max-width: 1060px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 33px 0 36px;
  background: rgba(255, 255, 255, 0.6);
}
/* line 189, ../sass/main_styles.scss */
.main-block-content .content-block {
  margin: 58px auto 0;
}
/* line 192, ../sass/main_styles.scss */
.main-block-content .content-block .full-width-img {
  width: 100%;
  height: 100% img;
  height-max-width: 100%;
  height-height: 100%;
}
/* line 202, ../sass/main_styles.scss */
.main-block-content .content-block:first-of-type {
  margin-top: 0;
}
/* line 205, ../sass/main_styles.scss */
.main-block-content .content-block:last-of-type {
  margin-bottom: 0;
}
/* line 210, ../sass/main_styles.scss */
.main-block-content .relative-block {
  position: relative;
}
/* line 213, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 221, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .top-content,
.main-block-content .relative-block .position-block .description-info {
  clear: both;
  overflow: hidden;
}
/* line 228, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .top-content .top-content-title {
  width: 331px;
  height: auto;
  margin: 22px 0 0;
  padding: 11px 0 9px 33px;
  color: #74023b;
  font: 700 25px/42px "Open Sans", sans-serif;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.7);
}
/* line 237, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .top-content .top-content-title a {
  color: #74023b;
}
/* line 241, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .top-content .top-content-date {
  float: right;
  width: 87px;
  height: auto;
  margin: 0 33px 0 0;
  padding: 10px 0 14px;
  color: white;
  font: 700 30px/41px "Open Sans", sans-serif;
  text-align: center;
  background-color: #74023b;
}
/* line 251, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .top-content .top-content-date a {
  color: #fff;
}
/* line 255, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .top-content .top-content-date .day {
  position: relative;
  padding-bottom: 5px;
}
/* line 259, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .top-content .top-content-date .day:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 66px;
  height: 1px;
  background: #fff;
}
/* line 274, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .description-info {
  position: absolute;
  bottom: 25px;
  width: 100%;
  overflow: visible;
}
/* line 279, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .description-info .description-sign {
  width: 499px;
  height: auto;
  margin: 8px 0 0 0;
  padding: 18px 60px 19px 29px;
  color: #333;
  font: 600 16px/20px "Open Sans", sans-serif;
  background: rgba(255, 255, 255, 0.7);
}
/* line 287, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .description-info .description-sign a {
  color: #333;
}
/* line 291, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .description-info .float-btn-block {
  float: right;
  margin: 0 28px 0 0;
}
/* line 294, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .description-info .float-btn-block .buy-ticket {
  display: block;
  width: 154px;
  height: 40px;
  margin: 0 auto 22px;
  text-align: center;
  color: #74023b;
  font: 600 20px/40px "Open Sans", sans-serif;
  background-color: white;
  border-radius: 7px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 306, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .description-info .float-btn-block .buy-ticket:hover {
  -webkit-box-shadow: 0px 0px 5px 1px white;
  -moz-box-shadow: 0px 0px 5px 1px white;
  box-shadow: 0px 0px 5px 1px white;
}
/* line 312, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .description-info .float-btn-block .more-btn {
  display: block;
  width: 154px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font: 600 21px/40px "Open Sans", sans-serif;
  background-color: #74023b;
  border-radius: 7px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 324, ../sass/main_styles.scss */
.main-block-content .relative-block .position-block .description-info .float-btn-block .more-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #74023b;
  -moz-box-shadow: 0px 0px 5px 1px #74023b;
  box-shadow: 0px 0px 5px 1px #74023b;
}

/*-------------------------------------UPCOMING CONCERTS------------------------------------*/
/* line 336, ../sass/main_styles.scss */
.upcoming-concerts {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 54px 0 42px;
  margin: 0 auto;
  background-color: #eaedf2;
}
/* line 342, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 353, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li {
  width: 48%;
  margin: 20px 0;
  background: #fff;
  overflow: hidden;
}
/* line 358, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li:first-child, .upcoming-concerts .upcoming-list li:nth-child(2) {
  margin-top: 0;
}
/* line 363, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .upcoming-concerts-img {
  float: left;
  max-width: 153px;
  width: 100%;
  height: 100%;
  margin: 0 8px 0 0;
  overflow: hidden;
}
/* line 370, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .upcoming-concerts-img img {
  width: auto;
  height: 100%;
}
/* line 375, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .date-info {
  float: right;
  width: 67px;
  height: auto;
  margin: 0 26px 0 0;
}
/* line 380, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .date-info .concert-date {
  margin-bottom: 11px;
  padding: 0 0 12px 0;
  color: white;
  text-align: center;
  background-color: #74023b;
}
/* line 386, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .date-info .concert-date .day {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 5px;
  font: 700 30px/41px "Open Sans", sans-serif;
}
/* line 392, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .date-info .concert-date .day:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 52px;
  height: 1px;
  background: #fff;
}
/* line 404, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .date-info .concert-date .month {
  font: 400 26px/28px "Open Sans", sans-serif;
}
/* line 408, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .date-info .concert-time {
  color: #74023b;
  font: 700 16px/22px "Open Sans", sans-serif;
}
/* line 414, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .main-info .actor-name {
  margin: 21px 0;
  color: #262626;
  font: 700 18px/22px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 420, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .main-info .concert-location {
  margin: 50px 0 23px;
  color: #080202;
  font: 400 16px/22px "Open Sans", sans-serif;
}
/* line 426, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .action-btn {
  overflow: hidden;
  margin-bottom: 0;
  padding-right: 26px;
}
/* line 430, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .action-btn .buy-ticket-btn,
.upcoming-concerts .upcoming-list li .action-btn .more-info-btn {
  display: inline-block;
  color: #74023b;
  font: 700 16px/22px "Open Sans", sans-serif;
  text-decoration: underline;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 438, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .action-btn .buy-ticket-btn:hover,
.upcoming-concerts .upcoming-list li .action-btn .more-info-btn:hover {
  text-decoration: none;
}
/* line 442, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .action-btn .buy-ticket-btn {
  float: left;
}
/* line 445, ../sass/main_styles.scss */
.upcoming-concerts .upcoming-list li .action-btn .more-info-btn {
  float: right;
}

/*-----------------------------FOOTER--------------*/
/* line 453, ../sass/main_styles.scss */
footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 455, ../sass/main_styles.scss */
footer .contact-form {
  padding: 69px 0 138px;
  background: url("../images/photo------.png") no-repeat;
  background-size: initial;
  background-position: right center;
}
/* line 461, ../sass/main_styles.scss */
footer .contact-form .form-title {
  margin: 0 auto 82px;
  text-align: center;
  color: white;
  font: 700 25px/30px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 469, ../sass/main_styles.scss */
footer .contact-form label {
  display: block;
  color: white;
  font: 400 18px/22px "Open Sans", sans-serif;
}
/* line 474, ../sass/main_styles.scss */
footer .contact-form label img {
  display: inline-block;
  margin-right: 10px;
}
/* line 480, ../sass/main_styles.scss */
footer .contact-form .form-row {
  width: 100%;
  margin: 36px auto;
  padding-left: 12px;
  overflow: hidden;
}
/* line 485, ../sass/main_styles.scss */
footer .contact-form .form-row #name,
footer .contact-form .form-row #tel,
footer .contact-form .form-row #email,
footer .contact-form .form-row #theme {
  height: 38px;
}
/* line 491, ../sass/main_styles.scss */
footer .contact-form .form-row #name,
footer .contact-form .form-row #tel,
footer .contact-form .form-row #email,
footer .contact-form .form-row #theme,
footer .contact-form .form-row #message {
  display: block;
  width: 100%;
  padding: 0 0  15px 35px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #fff;
  color: white;
  font: 400 18px/38px "Open Sans", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 508, ../sass/main_styles.scss */
footer .contact-form .form-row #name {
  background: url("../images/icon-user.png") no-repeat;
  background-position: 0 10%;
}
/* line 512, ../sass/main_styles.scss */
footer .contact-form .form-row #tel {
  background: url("../images/icon-phone.png") no-repeat;
  background-position: 0 10%;
}
/* line 516, ../sass/main_styles.scss */
footer .contact-form .form-row #email {
  background: url("../images/icon-envelope.png") no-repeat;
  background-position: 0 10%;
}
/* line 520, ../sass/main_styles.scss */
footer .contact-form .form-row #theme {
  background: url("../images/icon-theme.png") no-repeat;
  background-position: 0 10%;
}
/* line 524, ../sass/main_styles.scss */
footer .contact-form .form-row #message {
  background: url("../images/icon-comment.png") no-repeat;
  background-position: 0 5%;
}
/* line 528, ../sass/main_styles.scss */
footer .contact-form .form-row #message {
  resize: none;
  height: 245px;
  margin-bottom: 33px;
}
/* line 533, ../sass/main_styles.scss */
footer .contact-form .form-row ::-webkit-input-placeholder {
  color: white;
  font: 400 18px/38px "Open Sans", sans-serif;
}
/* line 538, ../sass/main_styles.scss */
footer .contact-form .form-row :-moz-placeholder {
  /* Firefox 18- */
  color: white;
  font: 400 18px/38px "Open Sans", sans-serif;
}
/* line 543, ../sass/main_styles.scss */
footer .contact-form .form-row ::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  font: 400 18px/38px "Open Sans", sans-serif;
}
/* line 548, ../sass/main_styles.scss */
footer .contact-form .form-row :-ms-input-placeholder {
  color: white;
  font: 400 18px/38px "Open Sans", sans-serif;
}
/* line 553, ../sass/main_styles.scss */
footer .contact-form .half-block-name,
footer .contact-form .half-block-tel {
  width: 44.5%;
  margin: 0;
  overflow: hidden;
}
/* line 559, ../sass/main_styles.scss */
footer .contact-form .half-block-name {
  float: left;
  margin-right: 7.9%;
}
/* line 563, ../sass/main_styles.scss */
footer .contact-form .half-width-tel {
  float: right;
}
/* line 566, ../sass/main_styles.scss */
footer .contact-form .required-fields {
  float: left;
  margin-top: 4px;
  color: #fff;
  font: 400 18px/38px "Open Sans", sans-serif;
  letter-spacing: -1px;
}
/* line 573, ../sass/main_styles.scss */
footer .contact-form .submit-form-btn {
  float: right;
  width: 225px;
  height: 47px;
  margin-right: 5px;
  text-align: center;
  color: white;
  font: 700 18px/40px "Open Sans", sans-serif;
  text-transform: uppercase;
  border: 1px solid white;
  background: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 587, ../sass/main_styles.scss */
footer .contact-form .submit-form-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 1px white;
  -moz-box-shadow: 0px 0px 5px 1px white;
  box-shadow: 0px 0px 5px 1px white;
}
/* line 594, ../sass/main_styles.scss */
footer .copyright {
  width: 100%;
  background: #000;
  padding: 18px 0;
}
/* line 599, ../sass/main_styles.scss */
footer .copyright h4 {
  margin: 0 auto;
  text-align: center;
  color: white;
  font: 400 16px/27px "Open Sans", sans-serif;
}
/* line 604, ../sass/main_styles.scss */
footer .copyright h4 a {
  color: #fff;
}
/* line 606, ../sass/main_styles.scss */
footer .copyright h4 a:hover {
  text-decoration: underline;
}

/*------------------------------------------------*/
/* line 62, ../sass/_bilet-more.scss */
.bilet-more-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 31px 0 39px;
  background: url("../images/backgr.png") no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 38px 0 39px;
}
/* line 27, ../sass/_bilet-more.scss */
.bilet-more-page .rgb-background {
  max-width: 1060px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 33px 0 36px;
  background: rgba(255, 255, 255, 0.6);
}
/* line 67, ../sass/_bilet-more.scss */
.bilet-more-page .rgb-background {
  padding: 33px 3px 36px;
}
/* line 71, ../sass/_bilet-more.scss */
.bilet-more-page .white-bg-container {
  position: relative;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 0px 20px 19px;
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 76, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .block-content-date {
  float: right;
  width: 85px;
  height: auto;
  margin: 0 31px 0 0;
  padding: 10px 0 11px;
  color: white;
  font: 700 30px/41px "Open Sans", sans-serif;
  text-align: center;
  background-color: #74023b;
}
/* line 86, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .block-content-date a {
  color: #fff;
}
/* line 90, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .block-content-date .day {
  position: relative;
  padding-bottom: 5px;
}
/* line 94, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .block-content-date .day:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 66px;
  height: 1px;
  background: #fff;
}
/* line 107, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .img-wrapper {
  float: left;
  max-width: 371px;
  max-height: 495px;
  width: 100%;
  height: 100%;
  margin: 20px 26px 28px 0;
  overflow: hidden;
}
/* line 116, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .img-wrapper img {
  max-width: 100%;
  height: auto;
}
/* line 121, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .actor-name {
  max-width: 310px;
  width: 100%;
  margin: 0 auto 16px;
  padding-top: 20px;
  color: #262626;
  font: 700 49px/61px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 130, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .time {
  display: block;
  color: #74023b;
  font: 700 31px/31px "Open Sans", sans-serif;
}
/* line 135, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .concert-location {
  margin: 28px 0 159px;
  color: #262626;
  font: 400 22px/32px "Open Sans", sans-serif;
}
/* line 140, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .buy-block {
  overflow: hidden;
}
/* line 143, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .buy-block .tickets-price {
  float: left;
  color: #74023b;
  font: 700 31px/44px "Open Sans", sans-serif;
}
/* line 148, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .buy-block .buy-ticket-btn {
  display: block;
  float: right;
  margin-right: 32px;
  color: #74023b;
  font: 700 22px/41px "Open Sans", sans-serif;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 156, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor .buy-block .buy-ticket-btn:hover {
  text-decoration: underline;
}
/* line 161, ../sass/_bilet-more.scss */
.bilet-more-page .about-actor p {
  margin: 20px auto;
  clear: both;
  overflow: hidden;
  color: #232323;
  font: 400 18px/21px "Open Sans", sans-serif;
}
/* line 170, ../sass/_bilet-more.scss */
.bilet-more-page .swiper-container {
  width: 100%;
  height: 100%;
}
/* line 174, ../sass/_bilet-more.scss */
.bilet-more-page .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 193, ../sass/_bilet-more.scss */
.bilet-more-page .swiper-slide img {
  width: 100%;
  height: 100%;
}
/* line 198, ../sass/_bilet-more.scss */
.bilet-more-page .mapWrapper {
  position: relative;
  padding-bottom: 53.25%;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 9px auto 30px;
  max-width: 932px;
  max-height: 516px;
  width: 100%;
  height: 100%;
}
/* line 43, ../sass/_bilet-more.scss */
.bilet-more-page .mapWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 206, ../sass/_bilet-more.scss */
.bilet-more-page .back-btn {
  display: block;
  float: right;
  margin: 0 30px 19px 0;
  color: #770c40;
  font: 400 22px/24px "Open Sans", sans-serif;
  text-transform: uppercase;
}

/* line 63, ../sass/_scene3.scss */
.scene3-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 31px 0 39px;
  background: url("../images/backgr.png") no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 38px 0 39px;
}
/* line 27, ../sass/_scene3.scss */
.scene3-page .rgb-background {
  max-width: 1060px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 33px 0 36px;
  background: rgba(255, 255, 255, 0.6);
}
/* line 68, ../sass/_scene3.scss */
.scene3-page .rgb-background {
  padding: 33px 0 36px;
}
/* line 72, ../sass/_scene3.scss */
.scene3-page .white-bg-container {
  position: relative;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 0px 20px 0;
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 75, ../sass/_scene3.scss */
.scene3-page .white-bg-container .header-content {
  clear: both;
  overflow: hidden;
  padding-bottom: 19px;
  border-bottom: 2px solid #C2C2C2;
}
/* line 81, ../sass/_scene3.scss */
.scene3-page .white-bg-container .header-content .left-content {
  float: left;
}
/* line 83, ../sass/_scene3.scss */
.scene3-page .white-bg-container .header-content .left-content .title {
  color: #272727;
  margin: 21px 0 0 13px;
  font: 700 50px/60px "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}
/* line 90, ../sass/_scene3.scss */
.scene3-page .white-bg-container .header-content .left-content .location {
  margin: 8px 0 0 15px;
  color: #252525;
  font: 700 20px/41px "Open Sans", sans-serif;
}
/* line 96, ../sass/_scene3.scss */
.scene3-page .white-bg-container .header-content .right-content {
  float: right;
}
/* line 98, ../sass/_scene3.scss */
.scene3-page .white-bg-container .header-content .right-content .date {
  margin: 38px 22px 0 0;
  color: #73023A;
  text-transform: uppercase;
  font: 700 30px/41px "Open Sans", sans-serif;
}
/* line 104, ../sass/_scene3.scss */
.scene3-page .white-bg-container .header-content .right-content .time {
  float: right;
  margin: 5px 23px 0 0;
  color: #73023A;
  font: 700 30px/41px "Open Sans", sans-serif;
}
/* line 113, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block {
  overflow: hidden;
  margin: 0 auto 58px;
}
/* line 116, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-title {
  margin: 12px 0 0 17px;
  color: #75023B;
  font: 700 22px/41px "Open Sans", sans-serif;
}
/* line 121, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-sircle-list {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 37%;
  margin: 13px 0 0 17px;
  overflow: hidden;
}
/* line 128, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-sircle-list li {
  display: inline-block;
  margin-left: 36px;
}
/* line 132, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-sircle-list li:first-child {
  margin-left: 0;
}
/* line 139, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-sircle-list .circle-1 span,
.scene3-page .white-bg-container .designations-block .designations-sircle-list .circle-2 span,
.scene3-page .white-bg-container .designations-block .designations-sircle-list .circle-3 span {
  color: #262626;
  font: 700 21px/40px "Open Sans", sans-serif;
}
/* line 144, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-sircle-list .color-circle-1,
.scene3-page .white-bg-container .designations-block .designations-sircle-list .color-circle-2,
.scene3-page .white-bg-container .designations-block .designations-sircle-list .color-circle-3 {
  float: left;
  width: 36px;
  height: 36px;
  margin: 0 8px 0 0;
  border-radius: 100%;
}
/* line 153, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-sircle-list .color-circle-1 {
  background: #840343;
}
/* line 156, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-sircle-list .color-circle-2 {
  background: #C00463;
}
/* line 159, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-sircle-list .color-circle-3 {
  background: #E7CE00;
}
/* line 163, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  width: 56%;
  margin: 13px 0 0 0;
  overflow: hidden;
}
/* line 172, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list li {
  display: inline-block;
  margin-left: 27px !important;
}
/* line 176, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list li:first-child {
  margin-left: 0 !important;
}
/* line 184, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list .square-1 span,
.scene3-page .white-bg-container .designations-block .designations-square-list .square-2 span,
.scene3-page .white-bg-container .designations-block .designations-square-list .square-3 span {
  float: left;
  overflow: hidden;
  font: 400 18px/20px "Open Sans", sans-serif;
  color: #262626;
}
/* line 192, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list .square-2 span {
  margin: 7px 0 0;
}
/* line 196, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-1,
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-2,
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-3 {
  float: left;
  margin-right: 10px;
}
/* line 202, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-1,
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-2,
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-3 {
  float: left;
  width: 36px;
  height: 36px;
}
/* line 209, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-1 {
  background: #BCB8B5;
}
/* line 212, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-2 {
  background: #5A009E;
}
/* line 215, ../sass/_scene3.scss */
.scene3-page .white-bg-container .designations-block .designations-square-list .color-square-3 {
  background: #ED6A00;
}
/* line 220, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block,
.scene3-page .white-bg-container .scene3-block {
  clear: both;
  margin: 0 auto 95px;
}
/* line 224, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .block-title,
.scene3-page .white-bg-container .scene3-block .block-title {
  width: 317px;
  margin: 0 auto;
  padding: 21px 4px;
  text-align: center;
  font: 400 49px/21px "Open Sans", sans-serif;
  color: #fff;
  letter-spacing: -2px;
  padding-right: 9px;
  text-transform: uppercase;
  background: #9D9D9D;
  -webkit-border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  -moz-border-radius-bottomleft: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
/* line 250, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene,
.scene3-page .white-bg-container .scene3-block .scene {
  width: 100%;
}
/* line 253, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-scene,
.scene3-page .white-bg-container .scene3-block .scene .list-header-scene {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 40px auto 20px;
  clear: both;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 263, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-scene li,
.scene3-page .white-bg-container .scene3-block .scene .list-header-scene li {
  float: left;
  width: auto;
  margin: 0 15px;
}
/* line 268, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-scene li:first-child,
.scene3-page .white-bg-container .scene3-block .scene .list-header-scene li:first-child {
  margin-left: 0;
}
/* line 271, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-scene li:last-child,
.scene3-page .white-bg-container .scene3-block .scene .list-header-scene li:last-child {
  margin-right: 0;
}
/* line 274, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-scene li span,
.scene3-page .white-bg-container .scene3-block .scene .list-header-scene li span {
  color: #262626;
  font: 400 20px/21px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 281, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-balcony,
.scene3-page .white-bg-container .scene3-block .scene .list-header-balcony {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 40px auto 20px;
  clear: both;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 291, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-balcony li,
.scene3-page .white-bg-container .scene3-block .scene .list-header-balcony li {
  float: left;
  width: auto;
  margin: 0 15px;
}
/* line 296, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-balcony li:first-child,
.scene3-page .white-bg-container .scene3-block .scene .list-header-balcony li:first-child {
  margin-left: 0;
}
/* line 299, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-balcony li:last-child,
.scene3-page .white-bg-container .scene3-block .scene .list-header-balcony li:last-child {
  margin-right: 0;
}
/* line 302, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .scene .list-header-balcony li span,
.scene3-page .white-bg-container .scene3-block .scene .list-header-balcony li span {
  color: #262626;
  font: 400 20px/21px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 311, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .reservation-btn,
.scene3-page .white-bg-container .scene3-block .reservation-btn {
  display: block;
  width: 205px;
  height: 40px;
  margin: 0 auto;
  color: #fff;
  font: 700 20px/40px "Open Sans", sans-serif;
  text-align: center;
  background: #74033B;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2.5px 4.3px 9px rgba(0, 0, 0, 0.56);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 325, ../sass/_scene3.scss */
.scene3-page .white-bg-container .scene-block .reservation-btn:hover,
.scene3-page .white-bg-container .scene3-block .reservation-btn:hover {
  -webkit-box-shadow: 2.5px 4.3px 9px #74023b;
  -moz-box-shadow: 2.5px 4.3px 9px #74023b;
  box-shadow: 2.5px 4.3px 9px #74023b;
}
/* line 332, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block {
  padding-top: 8px;
  border-top: 2px solid #C2C2C2;
}
/* line 335, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-title {
  margin: 10px 0 0 15px;
  letter-spacing: -1px;
  color: #75023B;
  font: 700 24px/41px "Open Sans", sans-serif;
}
/* line 341, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  margin: 10px 0 0 12px;
  display: -webkit-flex;
  display: flex;
}
/* line 349, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list li {
  display: inline-block;
  width: 33.3%;
}
/* line 353, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list li:nth-child(2) {
  margin-left: 18px;
}
/* line 355, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list li:nth-child(2) .sign {
  margin: 9px 40px 10px 19px;
}
/* line 359, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list li:nth-child(3) {
  width: 31.3%;
  margin-left: 3px;
}
/* line 362, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list li:nth-child(3) .sign {
  margin: 16px 15px 10px 16px;
}
/* line 366, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list li .number {
  float: left;
  color: #E51002;
  font: 600 70px/53px "Open Sans", sans-serif;
  display: inline-block;
  margin: 14px 0 0 0;
}
/* line 373, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list li .sign {
  float: left;
  margin: 9px 15px 10px 1px;
  overflow: hidden;
  letter-spacing: 1px;
  color: #666666;
  font: 400 20px/25px "Open Sans", sans-serif;
}
/* line 381, ../sass/_scene3.scss */
.scene3-page .white-bg-container .according-block .according-list li img {
  float: left;
  margin: 31px 0;
}
